html:body {
  font-family: Arial;
  background: #0f0f0f;
  color: white;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #1f1f1f;
  padding: 20px;
  border-radius: 12px;
  width: 260px;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.card h2 {
  margin-bottom: 10px;
}

#temp,
#vib {
  font-size: 32px;
  font-weight: bold;
}

.alert {
  background: #a80000 !important;
}

.limits {
  margin-top: 15px;
  font-size: 14px;
  color: #cccccc;
}

.controlBtn {
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #00aa66;
  color: white;
  cursor: pointer;
  font-weight: bold;
  display: none;
  transition: 0.3s;
}

.controlBtn:hover {
  background: #00cc77;
}

.actionMsg {
  margin-top: 12px;
  font-size: 14px;
  color: #00ffaa;
  min-height: 20px;
}

#status {
  margin-top: 30px;
  color: #00ff99;
  font-size: 18px;
}